h1 {
  font-weight: 300;
}

h3, h2 {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}



.sections {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  
}

.background {
  transform: translateZ(-10px) scale(2);
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;

}

.background-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2.5em;
}

.background-text p {
  cursor: pointer;
}

.top-image-container {
  width: 100%;
  height: 100%; /* Set a fixed height */
  overflow: hidden; /* Ensures no overflow */
  transform: translateZ(-10px) scale(2);
}

.image-top {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;

}

.image-text {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 100px;
  z-index: 2000;
  font-size: xx-large;
  font-weight: 600;
  cursor: pointer;
}

.overlay-content {
  font-size: 3em;
}

.tt-left {
  color: white;
  text-shadow: 0 0 5px black;
}

.tt-right {
  text-shadow: 0 0 5px white;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.438);
  backdrop-filter: blur(10px); /* The blur effect */
  -webkit-backdrop-filter: blur(10px);
}

.name {
  color:var(--text-color-secondary);
}

.post-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: 50px;
  margin-top: 2em
}

.post-lineup {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.read-more {
  font-weight: 200;
  font-size: 0.95em;
  cursor: pointer;
}

.readmore {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid var(--text-color-secondary);
  cursor: pointer;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.readmore:hover {
  border-color: rgba(128, 125, 125, 0.634);
  color: rgba(128, 125, 125, 0.886);
}

.see-more {
  cursor: pointer;
  background-color: var(--bg-color);
  padding: 10px;
  width: 20vw;
  margin-top: 0;
  text-align: center;
  margin-bottom: 5em;
  transition: background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.see-more:hover {
  background-color: rgb(235, 232, 232);
  font-weight: 400;
}

.fashion-lineup {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  justify-content: center;
  overflow: scroll;
}

.fashions {
  display: flex;
  gap: 2;
  overflow: scroll;
}

.fashionitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alice-fashionworld {
  align-self: center;
}

.fashion-image {
  height: 400px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
  border: 2px solid rgba(124, 100, 14, 0.632);
  margin-bottom: -90px;
}

.fashion-price {
  position: relative;
  bottom: 395.2px;
  right: 96.5px;
  padding: 3px;
  border-radius: 7px;
  background-color: rgba(124, 100, 14, 0.632);
  color: white;
}

.fashion-status {
  position: relative;
  bottom: -35px;
  left: 77px;
  background-color: rgba(255, 255, 255, 0.679);
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgba(15, 6, 54, 0.308);
}

.open-store {
  align-self: center;
  cursor: pointer;
  text-align: center;
}

.contacts {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  margin-top: 8em;
}

.sign-up,
.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

}
