
.header {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
  background-color: rgb(243, 241, 234);
  color:  #161622;
  z-index: 100;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.496);
  transition: box-shadow 0.3s ease;
}



.headingText{
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
}

.headerItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.headerMenu{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 200 !important;
  flex-wrap: wrap;
}

.headerMenu {
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.headerMenu h3 {
  cursor: pointer;
}

.headerMenu h3:hover {
  color: gray;
  border-bottom: 2px solid gray;
  margin-bottom: -2px;
}

.search {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: #161622;
  border-style: solid;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 30px;
}

.searchBox{
  color: #161622;
  background-color: rgb(243, 241, 234);;
  border: none;
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 15px;
}

.searchIcon{
  height: 24px;
  width: 24px;
  object-fit: contain;
  margin-left: 5px;
  cursor: pointer;
  fill: #161622;
}

.searchIcon:hover {
  height: 24px;
  width: 24px;
  opacity: 0.8;
}

.searchButton {
  border-radius: 50%;
}

.searchButton:hover {
  background-color: #161622;
  color: white;
  border-color: rgb(124, 100, 14);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.searchBox:focus {
  border: none;
  outline: none;
}

.socials {
  cursor: pointer;
  display: flex;
  gap: 3px;
}

.socialIcon svg {
  fill: #161622;
  transition: fill 0.3s ease-in-out;
  height: 40px;
  width: 40px;
}

.socialIcon svg:hover {
  fill: rgb(82, 80, 80);
  transition: fill 0.2s ease-in-out;
}